# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# VS Code settings
.vscode/

# Output files
outputs/
*.log

# OS files
.DS_Store
Thumbs.db

# Hidden git placeholders
!.gitkeep

# Ignore large ECG datasets
data/Sudden Cardiac Death Holter Database.csv
data/MIT-BIH Supraventricular Arrhythmia Database.csv
data/INCART 2-lead Arrhythmia Database